{% extends 'base.html.twig' %}

{% block title %}Export XLSX{% endblock %}

{% block body %}
  <style>

    .create_cs {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }
    .create_cs .cs_details {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      min-width: 50vw;
      max-width: 50vw;
    }

    .create_cs .cs_details .cs_date {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 100%;
    }

    .create_cs .cs_details .cs_end,
    .create_cs .cs_details .cs_start {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-width: 48%;
    }

    .create_cs form {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
    }

    .create_cs .cs_details .cs_date,
    .create_cs form input[type=text] {
      margin-bottom: 10px;
    }

    .create_cs form .cs_create_btn {
      padding: 25px;
    }

    .create_cs ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px;
      padding:10px:
    }

    .create_cs ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      margin: 10px;
      padding: 20px;
    }

    .create_cs ul li input[type=date],
    .create_cs ul li input[type=text],
    .create_cs ul li textarea {
      margin-bottom: 10px;
    }

    .download_file {
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: row;
      margin-top: 20px;
    }

    .download_file .content {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      flex-direction: row;
      min-width: 65%;
      flex-wrap: wrap;
    }
  </style>

  {% if file is defined %}
    <div class="download_file">
      <div class="content alert alert-success">
        <div class="text_exported">Votre chantier à bien été convertis, vous pouvez le telecharger en cliquant sur le bouton suivant :</div>
        <div class="file_exported">
          <a href="{{ file }}" class="btn btn-success">Télécharger mon chantier
            <i class="fa-solid fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="create_cs">
    <form action="{{path('export_xls_submit')}}" method="POST">
      <div class="cs_details">
        <input class="form-control" type="text" name="cs_name" placeholder="Nom du chantier" required="required">
        <div class="cs_date">
          <div class="cs_start">
            <label for="cs_start_at">Date de début</label>
            <input class="form-control" type="date" name="cs_start_at" id="cs_start_at" required="required">
          </div>
          <div class="cs_end">
            <label for="cs_end_at">Date de fin</label>
            <input class="form-control" type="date" name="cs_end_at" id="cs_end_at" required="required">
          </div>
        </div>
        <input class="form-control" type="text" name="cs_address" id="cs_address" required="required" placeholder="Adresse du chantier (Ex : 115 rue des Lacs, HOUILLES, 78800)">
      </div>
      <button id="operation_add" class="btn btn-info">Ajouter une opération</button>
      <ul id="operation_list">
        <li class="operation_item shadow-sm bg-light" id="operation_item_0">
          <label for="">Opération n°1</label>
          <input type="text" class="form-control" name="operation_name[]" placeholder="Nom de l'operation" required="required">
          <textarea class="form-control" name="operation_detail[]" placeholder="Details de l'operation"></textarea>
          <input type="date" class="form-control" name="operation_start_at[]" required="required">
          <input type="date" class="form-control" name="operation_end_at[]" required="required">
        </li>
      </ul>
      <input class="btn btn-success cs_create_btn" type="submit" value="Créer le chantier">

    </form>
  </div>

</div>

<script>
  $(document).ready(function () {

    var operationAdd = $("#operation_add")
    var operationRemove = $("#operation_remove")

    var i = 1;
    $(operationAdd).click(function (e) {
      e.preventDefault();
      i++;
      var liCount = $("#operation_list li").length + 1;
      console.log("Ajout de zone de texte " + i)
      console.log(liCount);
      $('#operation_list').append('<li class="operation_item shadow-sm bg-light" id="operation_item_' + i + '">' + '<label for="">Opération n°' + liCount + '</label>' + '<input type="text" class="form-control" name="operation_name[]" placeholder="Nom de l\'operation" required >' + '<textarea class="form-control" name="operation_detail[]" placeholder="Details de l\'operation"></textarea>' + '<input type="date" class="form-control" name="operation_start_at[]" required >' + '<input type="date" class="form-control" name="operation_end_at[]" required >' + '<span id="operation_remove" class="btn btn-danger">Supprimer l\'opération <i class="fa-solid fa-ban"></i></span>' + '</li>')
    });

    $('#operation_list').on('click', '#operation_remove', function (e) {
      e.preventDefault();
      var selectectLi = $(this).parent();
      console.log("Remove", $(this).parent())
      $(selectectLi).remove();
    });
  });
</script>
{% endblock %}
