{% extends 'base.html.twig' %}

{% block title %}Import XLSX{% endblock %}

{% block body %}
  <style>

    .import {
      display: flex;
      padding: 10px;
      justify-content: center;
      align-items: center;
    }

    .import form {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .import form input[type=file] {
      margin-bottom: 10px;
    }

    .imported_datas {
      margin: 10px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
    }

    .imported_datas .cs_details,
    .imported_datas .cs_location {
      display: flex;
      flex-direction: column;
      max-width: 50vw;
      align-self: center;
      min-width: 50vw;
      margin: 0;
      padding: 0;
    }

    .imported_datas .cs_details .container .cs_end_at,
    .imported_datas .cs_details .container .cs_start_at {
      min-width: 48%;
    }

    .imported_datas .cs_details input,
    .imported_datas .cs_location input {
      margin-bottom: 10px;
    }

    .imported_datas .cs_details .container,
    .imported_datas .cs_location .container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .cs_operations ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px;
      padding:10px:
    }

    .cs_operations ul li {
      display: flex;
      flex-direction: column;
      justify-content: center;
      list-style: none;
      margin: 10px;
      padding: 20px;
    }

    .cs_operations ul li input[type=date],
    .cs_operations ul li input[type=text],
    .cs_operations ul li textarea {
      margin-bottom: 10px;
    }

    .model {
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: row;
      margin-top: 20px;
    }

    .model .content {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      flex-direction: row;
      min-width: 65%;
      flex-wrap: wrap;
    }
  </style>

  {% if construction_site_details is defined %}
    <div class="model">
      <div class="content alert alert-success">
        <div class="text_exported">Votre chantier à bien été importé !</div>
      </div>
    </div>
  {% endif %}

  <div class="import">
    <form action="{{path('import_xls_submit')}}" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" id="" class="form-control" required="required">
      <button type="submit" class="btn btn-success">Importer mon chantier
        <i class="fa-solid fa-upload"></i>
      </button>
    </form>
  </div>

  {% if construction_site_details is defined %}

    <form class="imported_datas">
      <div class="cs_details">
        <div class="container">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['publicId'] }}" disabled="disabled" placeholder="PublicID du chantier">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['name'] }} " placeholder="Nom du chantier">
        </div>
        <div class="container">
          <div class="cs_start_at">
            <label for="start_at">Date de debut du chantier</label>
            <input type="date" name="" id="start_at" class="form-control" value="{{ construction_site_details['start_at'] }}">
          </div>
          <div class="cs_end_at">
            <label for="start_end">Date de fin du chantier</label>
            <input type="date" name="" id="end_at" class="form-control" value="{{ construction_site_details['end_at'] }}">
          </div>
        </div>
      </div>

      <div class="cs_location">
        <div class="container">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['country'] }}" placeholder="Pays">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['region'] }}" placeholder="Région">
        </div>
        <div class="container">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['city'] }}" placeholder="Ville">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['address'] }}" placeholder="Adresse">
        </div>
        <div class="container">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['coord_lat'] }}" disabled="disabled" placeholder="Latitude">
          <input type="text" name="" id="" class="form-control" value="{{ construction_site_details['location']['coord_long'] }}" disabled="disabled" placeholder="Longitude">
        </div>
      </div>
      <div class="cs_operations">
        <ul>
          {% for operation in construction_site_details['operation'] %}
            <li class="operation_item shadow-sm bg-light">
              <input type="text" name="" id="" class="form-control" value="{{operation['name']}}" placeholder="Nom de l'opération">
              <textarea name="" id="" class="form-control" placeholder="Details de l'opération">{{operation['details']}}</textarea>
              <input type="date" name="" id="" class="form-control" value="{{operation['start_at']}}">
              <input type="date" name="" id="" class="form-control" value="{{operation['end_at']}}">
            </li>
          {% endfor %}
        </ul>
      </div>
    </form>
    {# <code>
      <pre>{{ construction_site_details|json_encode()}}</pre>
    </code> #}
  {% else %}
    <div class="model">
      <div class="content alert alert-secondary">
        <div class="text_exported">Vous n'avez pas le modèle du tableur ? Telechargez le en cliquant ici :</div>
        <div class="file_exported">
          <a href="/demo/Visite-dans-paris-Tableur-demonstration.xlsx" class="btn btn-dark">Télecharger le modèle
            <i class="fa-solid fa-download"></i>
          </a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
